<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/components/stepper/stepper.js"></script>
    <title>Component - Stepper</title>
  </head>
  <body>
    <div class="component-stepper">
      <button class="minus" type="button" aria-label="수량 내리기" disabled></button>
      <span>1</span>
      <button class="plus" type="button" aria-label="수량 올리기"></button>
    </div>
  </body>
</html>
