<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>components -  recent</title>
  <link rel="stylesheet" href="/src/styles/global.css" />
  <script type="module" src="/src/components/recent-product/recent.js"></script>
</head>
<body>
  <div class="wrapper__recent-product">
    <div class="button__swiper-recent--up"></div>
    <h1 class="heading__recent-product">최근 본 상품</h1>
    <div class="product__recent"></div>
    <div class="button__swiper-recent--down"></div>
  </div>
</body>
</html>