
.button-group__button{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;

  button{
    width: 21.25rem;
    height: 3.375rem;
    border-radius: 0.25rem;
    border: 1px solid var(--primary);
    font-size: 1rem;
  }

  .button--white{
    background-color: white;
    color: var(--primary);
  }

  .button--purple{
    background-color: var(--primary);
    color: white;
  }

}

