<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>button</title>
  <link rel="stylesheet" href="/ssagwa-kurly/src/styles/reset.css" />
  <link rel="stylesheet" href="/ssagwa-kurly/src/components/button/button.css" />
<body>
  
  <section>
    <button type="submit" aria-label="button" class="button-white">로그인</button>
    <button type="submit" aria-label="button" class="button-purple">로그인</button>
  </section>

</body>
</html>