<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Component - Button</title>
  <link rel="stylesheet" href="/styles/global.css" />
  <link rel="stylesheet" href="/components/button/button.css" />
</head>
<body>
  
  <section class="button-group__button">
    <button type="submit" aria-label="button" class="button--transparent">로그인</button>
    <button type="submit" aria-label="button" class="button--primary">로그인</button>
  </section>

</body>
</html>