.filter__sections {
  border-bottom: 1px solid var(--gray-100, #e1e1e1);
}
.filter {
  width: 220px;
  font-family: 'Pretendard Variable';
}

.filter__section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.filter__section-title {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin: 0;
}

.filter__category-list {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
}
.filter__toggle {
  display: flex;
  width: 220px;
  height: 52px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  background: none;
  padding: 0;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
}

.filter__category-item {
  display: flex;
  padding: 8px 0px 16px 0px;
  align-items: flex-end;
  gap: 8px;
  align-self: stretch;
}

.filter__category-item input[type='checkbox'] {
  margin: 0;
  width: 24px;
  height: 24px;
  padding: 0.5px;
  background: white no-repeat center;
  border: 1px solid mainColor;
  cursor: pointer;
  outline: none;
  appearance: none;
  border-radius: 50%;
  background-image: url('/assets/svg/check.svg');
  background-position: -8px -8px;
}

.filter__category-item input[type='checkbox']:checked {
  background-repeat: no-repeat;
  background-image: url('/assets/svg/check.svg');
  background-position: -8px -40px;
}

.filter__count:last-child {
  color: #999;
  margin-left: 5px;
}
