<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/styles/reset.css" />
  <link rel="stylesheet" href="/components/product_filter/filter.css" />
  <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
  <script type="module" src="/components/product_filter/filter.js"></script>
</head>

<body>
  <aside class="filter" aria-label="상품 필터">
    <section class="filter__section">
      <header class="filter__sections filter__section-header">
        <h2 class="filter__title">필터</h2>
        <button id="resetFilter" type="button" class="filter__reset" aria-label="필터 초기화">초기화</button>1
      </header>
      <article class="filter__sections filter__section-category">
        <button class="filter__toggle" aria-expanded="false" aria-controls="category-list">
          <p>카테고리</p>
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none">
            <path d="M5 7L9 11L13 7" stroke="#999999" stroke-width="1.2" />
          </svg>
        </button>
        <ul id="category-list" class="filter__category-list" role="list">
          <li class="filter__category-item">
            <input type="checkbox" id="category1" name="category" value="샐러드·간편식" class="filter__checkbox">
            <label for="category1" class="filter__label">샐러드·간편식<span class="filter__count"
                aria-label="상품 수">65</span></label>
          </li>
          <li class="filter__category-item">
            <input type="checkbox" id="category2" name="category" value="국·반찬·메인요리" class="filter__checkbox">
            <label for="category2" class="filter__label">국·반찬·메인요리 <span class="filter__count"
                aria-label="상품 수">52</span></label>
          </li>
          <li class="filter__category-item">
            <input type="checkbox" id="category3" name="category" value="정육 · 계란" class="filter__checkbox">
            <label for="category3" class="filter__label">정육·계란 <span class="filter__count"
                aria-label="상품 수">41</span></label>
          </li>
          <li class="filter__category-item">
            <input type="checkbox" id="category4" name="category" value="과일 · 견과 · 쌀" class="filter__checkbox">
            <label for="category4" class="filter__label">과일·견과·쌀 <span class="filter__count"
                aria-label="상품 수">30</span></label>
          </li>
          <li class="filter__category-item">
            <input type="checkbox" id="category5" name="category" value="간식 · 과자 · 떡" class="filter__checkbox">
            <label for="category5" class="filter__label">간식·과자·떡 <span class="filter__count"
                aria-label="상품 수">18</span></label>
          </li>
          <li class="filter__category-item">
            <input type="checkbox" id="category6" name="category" value="생수 · 음료 · 우유 · 커피" class="filter__checkbox">
            <label for="category6" class="filter__label">생수·음료·우유·커피 <span class="filter__count"
                aria-label="상품 수">17</span></label>
          </li>
          <li class="filter__category-item">
            <input type="checkbox" id="category7" name="category" value="수산 · 해산 · 건어물" class="filter__checkbox">
            <label for="category7" class="filter__label">수산·해산·건어물 <span class="filter__count"
                aria-label="상품 수">16</span></label>
          </li>
          <li class="filter__category-item">
            <input type="checkbox" id="category8" name="category" value="베이커리 · 치즈 · 델리" class="filter__checkbox">
            <label for="category8" class="filter__label">베이커리·치즈·델리 <span class="filter__count"
                aria-label="상품 수">13</span></label>
          </li>
          <li class="filter__category-item">
            <input type="checkbox" id="category9" name="category" value="건강식품" class="filter__checkbox">
            <label for="category9" class="filter__label">건강식품<span class="filter__count"
                aria-label="상품 수">10</span></label>
          </li>
          <li class="filter__category-item">
            <input type="checkbox" id="category10" name="category" value="생활용품 · 리빙 · 캠핑" class="filter__checkbox">
            <label for="category10" class="filter__label">생활용품·리빙·캠핑 <span class="filter__count"
                aria-label="상품 수">10</span></label>
          </li>
          <button type="button" class="filter__more" aria-label="더보기"> 카테고리 더보기 </button>
        </ul>
      </article>
      <article class="filter__sections filter__section-delivery">
        <button class="filter__toggle" aria-expanded="false" aria-controls="delivery-list">
          배송
        </button>
      </article>
      <article class="filter__sections filter__section-price">
        <button class="filter__toggle" aria-expanded="false" aria-controls="price-list">
          가격
        </button>
      </article>
      <article class="filter__sections filter__section-brand">
        <button class="filter__toggle" aria-expanded="false" aria-controls="brand-list">
          브랜드
        </button>
      </article>
      <article class="filter__sections filter__section-benefit">
        <button class="filter__toggle" aria-expanded="false" aria-controls="benefit-list">
          혜택
        </button>
      </article>
      <article class="filter__sections filter__section-type">
        <button class="filter__toggle" aria-expanded="false" aria-controls="type-list">
          유형
        </button>
      </article>
      <article class="filter__sections filter__section-exclude">
        <button class="filter__toggle" aria-expanded="false" aria-controls="exclude-list">
          특정상품 제외
        </button>
      </article>
    </section>
  </aside>
</body>


</html>