* {
  box-sizing: border-box;
}
.productlistpage {
  position: relative;
  margin: 0 auto;
  width: 65.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;

  .productlistpage__header {
    color: var(--black);
    font-weight: 600;
    font-size: 1.333rem;
    margin-top: 3rem;
  }
  .productlist-area {
    margin-top: 3rem;
    display: flex;
    width: 65.625rem;
    align-items: flex-start;
    min-height: 100%;
    margin-bottom: 75px;
  }
  #productlist-filter {
    width: 13.75rem;
    height: auto;
    position: sticky;
    top: 4rem;
    max-height: calc(100vh - 4rem);
    margin-right: 47px;
    flex-shrink: 0;
    overflow: hidden scroll;
    scrollbar-width: none;
  }
  .productlist-sortings {
    display: flex;
    width: 48.9375rem;
    padding-bottom: 1.25rem;
    justify-content: space-between;
    ul {
      display: flex;
      align-items: center;
      li {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
      }
      .bar::before {
        content: '';
        display: flex;
        width: 1px;
        height: 10px;
        font-size: 14px;
        margin-right: 8px;
        background-color: var(--gray-300);
      }
      .productlist-sorting {
        color: var(--gray-300);
        border: 0;
        font-weight: 600;
        background-color: transparent;
        cursor: pointer;
      }
      .productlist-sorting--is-active {
        color: var(--content);
      }
    }
  }
  .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 31px 18px;
    width: 100%;
  }

  .product-item {
    width: 100%;
    max-width: 249px;
    height: 500px;
  }

  .paginator {
    justify-content: center;
  }
}
