button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.cart__bg {
  width: 1050px;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.cart__header {
  padding: 50px 0 48px;
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
}

.cart__section {
  display: flex;
  justify-content: space-between;
  letter-spacing: -0.5px;
}

.cart__product-section {
  width: 742px;
}

.cart__total-section {
  position: relative;
  width: 284px;
  min-height: 942px;
}

.cart__total-section-container {
  position: absolute;
  width: 284px;
  padding-top: 60px;
}

.cart__total-amout {
  display: flex;
  flex-direction: column;
  padding: 19px 18px 18px 20px;
  border: 0.0625rem solid #f2f2f2;
  background-color: var(--gray-50);
}

.product-amount,
.discount-amout,
.delivery-total-cost {
  display: flex;
  justify-content: space-between;
}

.delivery-cost {
  display: flex;
  flex-direction: column;
}
.discount-amout,
.delivery-cost {
  display: flex;
  padding-top: 12px;
}

.free-shipping-message {
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
  font-size: 12px;
  font-weight: 600;
  right: 0;
  color: var(--primary);
}

.estimated-amount {
  flex-direction: column;
  margin-top: 16px;
  padding-top: 18px;
  border-top: 0.0625rem solid var(--gray-100);

  .amount {
    display: flex;
    justify-content: space-between;
  }
}

.reward {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 600;
}

.icon--reward {
  display: inline-block;
  background-image: url('/svg/Badge-Reward.svg');
  width: 37px;
  height: 18px;
  margin-right: 5px;
  display: flex;
  padding: 0px 8px;
}

.total__span-left {
  width: 100px;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
}

.total__span-right {
  font-size: 18px;
  line-height: 24px;
  text-align: right;

  span {
    padding-left: 2px;
    font-size: 16px;
    font-weight: normal;
    vertical-align: bottom;
  }
}

.total__span-right-strong {
  width: 162px;
  font-size: 18px;
  line-height: 24px;
  text-align: right;

  strong {
    font-size: 29px;
    font-weight: 700;
    line-height: 28px;
  }
  span {
    padding-left: 4px;
    font-size: 16px;
    font-weight: 600;
    vertical-align: 1px;
  }
}

#select-btn {
  font-family: 'Pretendard';
  font-weight: 500;
  font-size: 14px;
  color: inherit;
}

.order-info {
  padding: 16px 0;

  li {
    color: var(--gray-400);

    position: relative;
    font-size: 12px;
    line-height: 1.125rem;

    ::before {
      overflow: hidden;
      position: absolute;
      width: 1px;
      height: 1px;
      margin: 6px 0px 0 -6px;
      vertical-align: top;
      border-radius: 50%;
      content: '';
    }
  }
}

.cart__total-login {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.cart__total-delivery {
  font-weight: 600;
  padding: 23px 20px 20px;
  border-width: 1px 1px 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-color: rgb(242, 242, 242);
  border-right-color: rgb(242, 242, 242);
  border-left-color: rgb(242, 242, 242);
  border-image: initial;
  border-bottom-style: initial;
  border-bottom-color: initial;

  h3 {
    padding-left: 24px;
    font-size: 16px;
    line-height: 20px;
    background: url(https://res.kurly.com/pc/service/cart/2007/ico_location.svg)
      0px 50% / 20px 20px no-repeat;
  }
}

.delivery-location-info {
  padding-top: 12px;
  font-size: 16px;
  line-height: 24px;
}

.delivery-location-info__address {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  word-break: break-word;
}

.delivery-location-info__change {
  padding: 6px 0px;
  font-size: 14px;
  display: flex;
  flex-direction: column;

  button {
    margin-top: 12px;
  }
}

.delivery-type {
  color: var(--primary);
  font-size: 14px;
}
