button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 0;
}

.cart__bg {
  width: 1050px;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.cart__header {
  padding: 50px 0 48px;
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
  text-align: center;
}

.cart__section {
  display: flex;
  justify-content: space-between;
  letter-spacing: -0.5px;
}

.cart__product-section {
  width: 742px;
}

/* .product-section-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 10px 16px 2px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
}
.product-section-bar-container {
  label {
    position: relative;
    display: inline-flex;
    line-height: 26px;
    padding: 0;
    vertical-align: top;
    position: relative;
    align-items: center;
    vertical-align: top;

    input {
      overflow: hidden;
      position: absolute;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      width: 1px;
      height: 1px;
    }
  }

  .icon {
    margin-right: 12px;
  }
}

.divider {
  display: inline-block;
  width: 1px;
  height: 14px;
  background: var(--gray-100);
  margin: 6px 21px 0 22px;
  vertical-align: top;
} */

.cart__total-section {
  position: relative;
  width: 284px;
  min-height: 942px;
}

.cart__total-section-container {
  position: absolute;
  width: 284px;
  padding-top: 60px;
}

.cart__total-amout {
  padding: 19px 18px 18px 20px;
  border: 0.0625rem solid #f2f2f2;
  background-color: var(--gray-50);
}

.product-amount,
.discount-amout,
.delivery-cost {
  display: flex;
  justify-content: space-between;
}

.discount-amout,
.delivery-cost {
  padding-top: 12px;
}

.estimated-amount {
  flex-direction: column;
  margin-top: 16px;
  padding-top: 18px;
  border-top: 0.0625rem solid var(--gray-100);

  .amount {
    display: flex;
    justify-content: space-between;
  }
}

.reward {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 600;
}
.icon--reward {
  display: inline-block;
  background-image: url('/svg/Badge-Reward.svg');
  width: 21px;
  height: 18px;
  margin-right: 5px;
  display: flex;
  padding: 0px 8px;
}

.icon--location {
  background-image: url('/svg/Location.svg');
  width: 36px;
  height: 36px;
}

.total__span-left {
  width: 100px;
  font-size: 16px;
  line-height: 24px;
  white-space: nowrap;
}

.total__span-right {
  font-size: 18px;
  line-height: 24px;
  text-align: right;

  span {
    padding-left: 2px;
    font-size: 16px;
    font-weight: normal;
    vertical-align: bottom;
  }
}

.total__span-right-strong {
  width: 162px;
  font-size: 18px;
  line-height: 24px;
  text-align: right;

  strong {
    font-size: 29px;
    font-weight: 700;
    line-height: 28px;
  }
  span {
    padding-left: 4px;
    font-size: 16px;
    font-weight: 600;
    vertical-align: 1px;
  }
}

#select-btn {
  font-family: 'Pretendard';
  font-weight: 500;
  font-size: 14px;
  color: inherit;
}

.order-info {
  padding: 16px 0;

  li {
    color: var(--gray-400);

    position: relative;
    font-size: 12px;
    line-height: 1.125rem;

    ::before {
      overflow: hidden;
      position: absolute;
      width: 1px;
      height: 1px;
      margin: 6px 0px 0 -6px;
      vertical-align: top;
      border-radius: 50%;
      content: '';
    }
  }
}

.cart__total-login {
  padding-top: 20px;
}

.cart__total-delivery {
  font-weight: 500;
  padding: 23px 20px 20px;
  border-width: 1px 1px 0px;
  border-top-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-top-color: rgb(242, 242, 242);
  border-right-color: rgb(242, 242, 242);
  border-left-color: rgb(242, 242, 242);
  border-image: initial;
  border-bottom-style: initial;
  border-bottom-color: initial;

  h4 {
    background-image: url(/svg/Location.svg) 0px 50% / 20px 20px no-repeat;
    display: flex;
    align-items: center;
  }

  .address {
    padding-top: 12px;
    font-size: 16px;
    line-height: 24px;
    word-break: break-word;
  }

  .delivery-type {
    display: inline-block;
    color: var(--primary);
    font-size: 14px;
    padding: 7px 0 12px 0;
  }
}

.freeDelivery {
  display: block;
  padding-top: 2px;
  color: var(--primary);
  line-height: 18px;
  text-align: right;
}