<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Components - popup</title>
  <script type="module" src="/src/components/popup/popup.js"></script>
</head>
<body>
  
  <div class="modal-overlay" aria-modal="true" aria-labelledby="modalTitle">
    <div class="modal">
      <a href="/" aria-label="뷰티컬리 만나보기">
        <img id="modalImg" class="modal__img" src="/src/assets/images/popup/ea7e5e29-f8e5-4f65-934a-62432df4b337 1.png" alt="뷰티컬리 만나보기 이미지" />
      </a>
      <div class="modal__btn">
        <button type="button" class="btn-1">오늘 하루 안보기</button>
        <button type="button" class="btn-2">닫기</button>
      </div>
    </div>
  </div>


</body>
</html>