*{
  color: var(--content);
  font-family: inherit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal{
  width: 440px;
  height: 672px;
  background-color: var(--white); 
  border-radius: 1rem;
}

.modal__img{
  width: 100%;
  height: 586px;
  border-radius: 1rem 1rem 0 0;
  display: block;
}

.modal__btn{
  display: flex;
  width: 440px;
  height: 86px;

  button{
    width: 100%;
    height: 100%;
    background-color: var(--white);
    border: 1px solid var(--gray-200);
  }
}

.btn-1 {
  border-radius: 0 0 0 1rem; 
}

.btn-2 {
  border-radius: 0 0 1rem 0; 
}

.hidden{
  display: none;
}