<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>component product</title>
  <link rel="stylesheet" href="/src/styles/global.css" />
  <link rel="stylesheet" href="/src/components/product/product.css" />
  <link rel="stylesheet" href="/src/styles/reset.css" />
  <script type="module" src="/src/components/product/product.js"></script>
</head>
<body>
  
  <div class="container">
    <ul class="producte__list">
      
    </ul>
  </div>
  
</body>
</html>