<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>component product</title>
  <link rel="stylesheet" href="./product.css" />
  <script type="module" src="./product.js"></script>
</head>
<body>
  
  <!-- <product-detail></product-detail> -->
  <div class="product__wrapper">

    <div class="product__visual">
      <img src="../../assets/images/product/product01.png" alt="" />
    </div>

    <button type="button" class="product__basket">담기</button>

    <div class="product__delivery">샛별배송</div>

    <div class="product__title">
      <label for="title" > [풀무원] 탱탱쫄면 (4개입)</label>
      <input type="text" value="${title}" id="title" class="sr-only" />
    </div>

    <div class="product__price--wrap">
      <div class="product__discount">
        <label for="discount" >24%</label>
        <input type="text" value="${discount}" id="discount" class="sr-only" />
      </div>

      <div class="product__real-price">2980원</div>
    </div>
    <div class="product__price">
      <label for="price" >24000원</label>
      <input type="text" value="${price}" id="price" class="sr-only" />
    </div>

    <div class="product__description">
      <label for="description">CJ즉석밥 고소한 맛의 발아 현미밥</label>
      <input type="text" value="${description}" id="description" class="sr-only" />
    </div>
    
  </div>
</body>
</html>