.paginator {
  display: flex;
  padding-top: 2.25rem;
  align-items: flex-start;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.125rem;
    height: 2.125rem;
    padding: 0.25rem;
    border-top: 1px solid var(--gray-100);
    border-right: 1px solid var(--gray-100);
    border-bottom: 1px solid var(--gray-100);
    text-decoration: none;
    color: var(--content);
    font-size: 0.75rem;
  }
  a:first-of-type {
    border-left: 1px solid var(--gray-100);
  }
  a:hover {
    background-color: var(--gray-200);
  }
  .pagelinks--is-selected {
    color: var(--primary);
  }
}
