<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Components - Header</title>
    <link rel="stylesheet" href="/styles/global.css" />
    <script type="module" src="/components/header/header.js"></script>
    <script
      type="module"
      src="/components/header-category/headerCategory.js"
    ></script>
  </head>
  <body>
    <ssagwakurly-header></ssagwakurly-header>
  </body>
</html>
