* {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

ul {
  list-style: none;
}

.footer {
  position: sticky;
  display: flex;
  width: 100%;
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--gray-100);
  background: var(--white);
}
.footer__maininner {
  width: 65.625rem;
  height: 32.6rem;
}

.footer__top {
  display: flex;
  padding: 1.75rem 0rem 2rem 0rem;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-100);
}

.footer__customer-service {
  max-width: 29.8rem;
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  h2 {
    font-size: 1.333rem;
    font-weight: 700;
    line-height: 140%;
  }
  .number {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .tel-number {
      color: var(--content);
      font-size: 2.36856rem;
      a {
        line-height: 140%;
        font-weight: 700;
        text-decoration: none;
        color: var(--content);
      }
    }
    p {
      font-weight: 600;
    }
  }
}

.footer__customer-service ul {
  min-width: 29.8125rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.footer__customer-service li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  p {
    font-size: 1rem;
  }
}

.footer__customer-service .button {
  width: 8.75rem;
  height: 2.5rem;
  padding: 0.25rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  color: var(--content);
  background-color: var(--white);
  cursor: pointer;
  border: 1px solid var(--gray-200);
}

.footer__customer-service .mail {
  p {
    height: 1.19rem;
    margin: 0;
    font-size: 0.75019rem;
    display: flex;
    padding: 0rem 0.25rem;
    align-items: center;
    gap: 0.25rem;
  }
}

.footer__company-info {
  min-width: 30.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  nav {
    ul {
      padding: 0;
      height: 1.625rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      a {
        text-decoration: none;
        font-size: 1rem;
        color: var(--content);
      }
    }
  }
  address {
    font-size: 0.75019rem;
    .business-info {
      a {
        text-decoration: none;
      }
    }
    .company-info__business-info {
      margin: 0;
    }
  }
}
.company-info__sns-links {
  display: flex;
  align-items: flex-start;
  gap: 1.25rem;
  padding: 0;
  img {
    width: 1.875rem;
    height: 1.875rem;
  }
}

.footer__middle {
  display: flex;
  max-width: 65.625rem;
  padding: 1.5rem 0rem 2rem 0rem;
  justify-content: space-between;
  align-items: flex-start;
  a {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    font-size: 0.625rem;
    text-decoration: none;
    color: var(--content);
  }
  img {
    width: 32px;
    height: 32px;
  }
}

.footer__bottom {
  padding: 1.25rem 0.25rem 2rem 0.25rem;
  gap: 0.25rem;
  align-self: stretch;
  background: var(--gray-50);
}

.footer__subinner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  color: var(--gray-400);
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
