<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Component - paginator</title>
  <link rel="stylesheet" href="/styles/global.css" />
  <link rel="stylesheet" href="/components/paginator/paginator.css" />
</head>

<body>
  <div class="paginator">
    <a href="#" class="doublearrow">
      <img src="/svg/firstpage.svg" alt="처음페이지 아이콘" />
    </a>
    <a href="#" class="arrow">
      <img src="/svg/Previouspage.svg" alt="이전페이지 아이콘" />
    </a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#" class="arrow">
      <img src="/svg/nextpage.svg" alt="다음페이지 아이콘" />
    </a>
    <a href="#" class="doublearrow">
      <img src="/svg/lastpage.svg" alt="마지막페이지 아이콘" />
    </a>
  </div>
</body>

</html>